<a href="https://colab.research.google.com/github/KhandareAshutosh/IPL_Prediction_ML_Project/blob/main/ML_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import RFE
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, classification_report

In [ ]:
from sklearn import preprocessing

In [ ]:
import numpy as np

In [ ]:
import pandas as pd 
deliveries=pd.read_csv('/content/drive/MyDrive/Wids_IPL_Analysis_Data/IPL_Ball_by_Ball_2008_2022.csv')

In [ ]:
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int64
 1   innings            225954 non-null  int64
 2   overs              225954 non-null  int64
 3   ballnumber         225954 non-null  int64
 4   batter             225954 non-null  object
 5   bowler             225954 non-null  object
 6   non-striker        225954 non-null  object
 7   extra_type         12049 non-null   object
 8   batsman_run        225954 non-null  int64
 9   extras_run         225954 non-null  int64
 10  total_run          225954 non-null  int64
 11  non_boundary       225954 non-null  int64
 12  isWicketDelivery   225954 non-null  int64
 13  player_out         11151 non-null   object
 14  kind               11151 non-null   object
 15  fielders_involved  7988 non-null    object
 16  BattingTeam        225954 non-null  object
dtypes: int64(9), object(8)
memory usage: 29.3+ MB

In [ ]:
import pandas as pd 
matches=pd.read_csv('/content/drive/MyDrive/Wids_IPL_Analysis_Data/IPL_Matches_2008_2022.csv')

In [ ]:
matches.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [ ]:
matches.describe()

                 ID      Margin
count  9.500000e+02  932.000000
mean   8.304852e+05   17.056867
std    3.375678e+05   21.633109
min    3.359820e+05    1.000000
25%    5.012612e+05    6.000000
50%    8.297380e+05    8.000000
75%    1.175372e+06   19.000000
max    1.312200e+06  146.000000

In [ ]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int64
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    object
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    object
 6   Team2            950 non-null    object
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 148.6+ KB

In [ ]:
matches.isnull().sum()

ID                   0
City                51
Date                 0
Season               0
MatchNumber          0
Team1                0
Team2                0
Venue                0
TossWinner           0
TossDecision         0
SuperOver            4
WinningTeam          4
WonBy                0
Margin              18
method             931
Player_of_Match      4
Team1Players         0
Team2Players         0
Umpire1              0
Umpire2              0
dtype: int64

In [ ]:
#Filling the values of City based on Venue
conditions = [matches["Venue"] == "Rajiv Gandhi International Stadium, Uppal",matches["Venue"] == "Maharashtra Cricket Association Stadium",
              matches["Venue"] == "Saurashtra Cricket Association Stadium", matches["Venue"] == "Holkar Cricket Stadium",
              matches["Venue"] == "M Chinnaswamy Stadium",matches["Venue"] == "Wankhede Stadium",
              matches["Venue"] == "Eden Gardens",matches["Venue"] == "Feroz Shah Kotla",
              matches["Venue"] == "Punjab Cricket Association IS Bindra Stadium, Mohali",matches["Venue"] == "Green Park",
              matches["Venue"] == "Punjab Cricket Association Stadium, Mohali",matches["Venue"] == "Dr DY Patil Sports Academy",
              matches["Venue"] == "Sawai Mansingh Stadium", matches["Venue"] == "MA Chidambaram Stadium, Chepauk", 
              matches["Venue"] == "Newlands", matches["Venue"] == "St George's Park" , 
              matches["Venue"] == "Kingsmead", matches["Venue"] == "SuperSport Park",
              matches["Venue"] == "Buffalo Park", matches["Venue"] == "New Wanderers Stadium",
              matches["Venue"] == "De Beers Diamond Oval", matches["Venue"] == "OUTsurance Oval", 
              matches["Venue"] == "Brabourne Stadium",matches["Venue"] == "Sardar Patel Stadium", 
              matches["Venue"] == "Barabati Stadium", matches["Venue"] == "Vidarbha Cricket Association Stadium, Jamtha",
              matches["Venue"] == "Himachal Pradesh Cricket Association Stadium",matches["Venue"] == "Nehru Stadium",
              matches["Venue"] == "Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium",matches["Venue"] == "Subrata Roy Sahara Stadium",
              matches["Venue"] == "Shaheed Veer Narayan Singh International Stadium",matches["Venue"] == "JSCA International Stadium Complex",
              matches["Venue"] == "Sheikh Zayed Stadium",matches["Venue"] == "Sharjah Cricket Stadium",
              matches["Venue"] == "Dubai International Cricket Stadium",matches["Venue"] == "M. A. Chidambaram Stadium",
              matches["Venue"] == "Feroz Shah Kotla Ground",matches["Venue"] == "M. Chinnaswamy Stadium",
              matches["Venue"] == "Rajiv Gandhi Intl. Cricket Stadium" ,matches["Venue"] == "IS Bindra Stadium",matches["Venue"] == "ACA-VDCA Stadium"]
values = ['Hyderabad', 'Mumbai', 'Rajkot',"Indore","Bengaluru","Mumbai","Kolkata","Delhi","Mohali","Kanpur","Mohali","Pune","Jaipur","Chennai","Cape Town","Port Elizabeth","Durban",
          "Centurion",'Eastern Cape','Johannesburg','Northern Cape','Bloemfontein','Mumbai','Ahmedabad','Cuttack','Jamtha','Dharamshala','Chennai','Visakhapatnam','Pune','Raipur','Ranchi',
          'Abu Dhabi','Sharjah','Dubai','Chennai','Delhi','Bengaluru','Hyderabad','Mohali','Visakhapatnam']
matches['City'] = np.where(matches['City'].isnull(),
                              np.select(conditions, values),
                              matches['City'])

#Removing records having null values in "WinningTeam" column
matches=matches[matches["WinningTeam"].notna()]

In [ ]:
matches.isnull().sum()

ID                   0
City                 0
Date                 0
Season               0
MatchNumber          0
Team1                0
Team2                0
Venue                0
TossWinner           0
TossDecision         0
SuperOver            0
WinningTeam          0
WonBy                0
Margin              14
method             927
Player_of_Match      0
Team1Players         0
Team2Players         0
Umpire1              0
Umpire2              0
dtype: int64

In [ ]:
matches['Team1'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [ ]:

matches['Team2'].unique()

array(['Gujarat Titans', 'Rajasthan Royals', 'Lucknow Super Giants',
       'Punjab Kings', 'Mumbai Indians', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Sunrisers Hyderabad', 'Delhi Capitals',
       'Chennai Super Kings', 'Kings XI Punjab', 'Delhi Daredevils',
       'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [ ]:
matches.replace(['Rising Pune Supergiants']
                ,['Rising Pune Supergiant'],inplace=True)

In [ ]:
matches['TossWinner'].unique()

array(['Rajasthan Royals', 'Lucknow Super Giants', 'Gujarat Titans',
       'Sunrisers Hyderabad', 'Mumbai Indians', 'Chennai Super Kings',
       'Punjab Kings', 'Kolkata Knight Riders',
       'Royal Challengers Bangalore', 'Delhi Capitals', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Pune Warriors', 'Deccan Chargers', 'Kochi Tuskers Kerala'],
      dtype=object)

In [ ]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 946 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               946 non-null    int64
 1   City             946 non-null    object
 2   Date             946 non-null    object
 3   Season           946 non-null    object
 4   MatchNumber      946 non-null    object
 5   Team1            946 non-null    object
 6   Team2            946 non-null    object
 7   Venue            946 non-null    object
 8   TossWinner       946 non-null    object
 9   TossDecision     946 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            946 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     946 non-null    object
 17  Team2Players     946 non-null    object
 18  Umpire1          946 non-null    object
 19  Umpire2          946 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 155.2+ KB

In [ ]:
matches.isnull().sum()

ID                   0
City                 0
Date                 0
Season               0
MatchNumber          0
Team1                0
Team2                0
Venue                0
TossWinner           0
TossDecision         0
SuperOver            0
WinningTeam          0
WonBy                0
Margin              14
method             927
Player_of_Match      0
Team1Players         0
Team2Players         0
Umpire1              0
Umpire2              0
dtype: int64

In [ ]:
matches = matches.drop(columns=['method'], axis=1)

In [ ]:
matches.isnull().sum()

ID                  0
City                0
Date                0
Season              0
MatchNumber         0
Team1               0
Team2               0
Venue               0
TossWinner          0
TossDecision        0
SuperOver           0
WinningTeam         0
WonBy               0
Margin             14
Player_of_Match     0
Team1Players        0
Team2Players        0
Umpire1             0
Umpire2             0
dtype: int64

In [ ]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 946 entries, 0 to 949
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               946 non-null    int64
 1   City             946 non-null    object
 2   Date             946 non-null    object
 3   Season           946 non-null    object
 4   MatchNumber      946 non-null    object
 5   Team1            946 non-null    object
 6   Team2            946 non-null    object
 7   Venue            946 non-null    object
 8   TossWinner       946 non-null    object
 9   TossDecision     946 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            946 non-null    object
 13  Margin           932 non-null    float64
 14  Player_of_Match  946 non-null    object
 15  Team1Players     946 non-null    object
 16  Team2Players     946 non-null    object
 17  Umpire1          946 non-null    object
 18  Umpire2          946 non-null    object
dtypes: float64(1), int64(1), object(17)
memory usage: 147.8+ KB

In [ ]:
mean_value=matches['Margin'].mean()

In [ ]:
matches['Margin'].fillna(value=mean_value, inplace=True)

In [ ]:
matches.isnull().sum()

ID                 0
City               0
Date               0
Season             0
MatchNumber        0
Team1              0
Team2              0
Venue              0
TossWinner         0
TossDecision       0
SuperOver          0
WinningTeam        0
WonBy              0
Margin             0
Player_of_Match    0
Team1Players       0
Team2Players       0
Umpire1            0
Umpire2            0
dtype: int64

In [ ]:
matches.notna().WinningTeam

0      True
1      True
2      True
3      True
4      True
       ...
945    True
946    True
947    True
948    True
949    True
Name: WinningTeam, Length: 946, dtype: bool

In [ ]:
matches.dropna()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [ ]:
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
sns.color_palette("Paired")
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (12, 8)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

In [ ]:
teams_per_season = matches.groupby('Season')['WinningTeam'].value_counts()
teams_per_season

Season   WinningTeam
2007/08  Rajasthan Royals         13
         Kings XI Punjab          10
         Chennai Super Kings       9
         Delhi Daredevils          7
         Mumbai Indians            7
                                  ..
2022     Punjab Kings              7
         Kolkata Knight Riders     6
         Sunrisers Hyderabad       6
         Chennai Super Kings       4
         Mumbai Indians            4
Name: WinningTeam, Length: 126, dtype: int64

In [ ]:
deliveries.isnull().sum()

ID                        0
innings                   0
overs                     0
ballnumber                0
batter                    0
bowler                    0
non-striker               0
extra_type           213905
batsman_run               0
extras_run                0
total_run                 0
non_boundary              0
isWicketDelivery          0
player_out           214803
kind                 214803
fielders_involved    217966
BattingTeam               0
dtype: int64

In [ ]:
deliveries = deliveries.drop(columns=['extra_type','player_out','kind','fielders_involved'], axis=1)

In [ ]:
deliveries.isnull().sum()

ID                  0
innings             0
overs               0
ballnumber          0
batter              0
bowler              0
non-striker         0
batsman_run         0
extras_run          0
total_run           0
non_boundary        0
isWicketDelivery    0
BattingTeam         0
dtype: int64

In [ ]:
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                225954 non-null  int64
 1   innings           225954 non-null  int64
 2   overs             225954 non-null  int64
 3   ballnumber        225954 non-null  int64
 4   batter            225954 non-null  object
 5   bowler            225954 non-null  object
 6   non-striker       225954 non-null  object
 7   batsman_run       225954 non-null  int64
 8   extras_run        225954 non-null  int64
 9   total_run         225954 non-null  int64
 10  non_boundary      225954 non-null  int64
 11  isWicketDelivery  225954 non-null  int64
 12  BattingTeam       225954 non-null  object
dtypes: int64(9), object(4)
memory usage: 22.4+ MB

In [ ]:
encoder= preprocessing.LabelEncoder()
matches["Team1"]=encoder.fit_transform(matches["Team1"])
matches["Team2"]=encoder.fit_transform(matches["Team2"])
matches["WinningTeam"]=encoder.fit_transform(matches["WinningTeam"].astype(str))
matches["TossWinner"]=encoder.fit_transform(matches["TossWinner"])
matches["Venue"]=encoder.fit_transform(matches["Venue"])

In [ ]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 946 entries, 0 to 949
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               946 non-null    int64
 1   City             946 non-null    object
 2   Date             946 non-null    object
 3   Season           946 non-null    object
 4   MatchNumber      946 non-null    object
 5   Team1            946 non-null    int64
 6   Team2            946 non-null    int64
 7   Venue            946 non-null    int64
 8   TossWinner       946 non-null    int64
 9   TossDecision     946 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    int64
 12  WonBy            946 non-null    object
 13  Margin           946 non-null    float64
 14  Player_of_Match  946 non-null    object
 15  Team1Players     946 non-null    object
 16  Team2Players     946 non-null    object
 17  Umpire1          946 non-null    object
 18  Umpire2          946 non-null    object
dtypes: float64(1), int64(6), object(12)
memory usage: 147.8+ KB

In [ ]:
#outcome variable team1_win as a probability of Team1 winning the match
matches.loc[matches["WinningTeam"]==matches["Team1"],"team1_win"]=1
matches.loc[matches["WinningTeam"]!=matches["Team1"],"team1_win"]=0

#outcome variable team1_toss_win as a value of Team1 winning the toss
matches.loc[matches["TossWinner"]==matches["Team1"],"team1_toss_win"]=1
matches.loc[matches["TossWinner"]!=matches["Team1"],"team1_toss_win"]=0

#outcome variable team1_bat to depict if Team1 bats first
matches["team1_bat"]=0
matches.loc[(matches["team1_toss_win"]==1) & (matches["TossDecision"]=="bat"),"team1_bat"]=1

In [ ]:
#dataframe of related features
prediction_df=matches[["Team1","Team2","team1_toss_win","team1_bat","team1_win","Venue"]]

#finding the higly correlated features
correlated_features = set()
correlation_matrix = prediction_df.drop('team1_win', axis=1).corr()

for i in range(len(correlation_matrix.columns)):
    for j in range(i):
        if abs(correlation_matrix.iloc[i, j]) > 0.9:
            column = correlation_matrix.columns[i]
            correlated_features.add(column)
            
prediction_df.drop(columns=correlated_features)

     Team1  Team2  team1_toss_win  team1_bat  team1_win  Venue
0       13      5             1.0          1        0.0     26
1       15     13             0.0          0        0.0     26
2       15      9             0.0          0        1.0     12
3       13      5             0.0          0        0.0     12
4       16     12             1.0          1        0.0     47
..     ...    ...             ...        ...        ...    ...
945      8      1             0.0          0        1.0     11
946     10     15             1.0          1        0.0     46
947      3     13             0.0          0        1.0     13
948      6      0             0.0          0        0.0     33
949     15      8             1.0          0        0.0     19

[946 rows x 6 columns]

In [ ]:
X = prediction_df.drop('team1_win', axis=1)
target = prediction_df['team1_win']
target=target.astype(int)

logReg=LogisticRegression(solver='lbfgs')
rfe = RFE(logReg, step = 20)
rfe = rfe.fit(X, target.values.ravel())
#Checking for the features of they are important
print(rfe.support_)

[False False  True  True False]

In [ ]:
#Splitting the data into training and testing data and scaling it
X_train, X_test, y_train, y_test = train_test_split(X, target, test_size=0.2, random_state=0,shuffle=True)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))
print('Accuracy of logistic regression classifier on test set: {:.4f}'.format(logreg.score(X_test, y_test)))

[[32 73]
 [28 57]]
              precision    recall  f1-score   support

           0       0.53      0.30      0.39       105
           1       0.44      0.67      0.53        85

    accuracy                           0.47       190
   macro avg       0.49      0.49      0.46       190
weighted avg       0.49      0.47      0.45       190

Accuracy of logistic regression classifier on test set: 0.4684

In [ ]:
svm=SVC()
svm.fit(X_train,y_train)
svm.score(X_test,y_test)
y_pred = svm.predict(X_test)
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))
print('Accuracy of SVM classifier on test set: {:.4f}'.format(svm.score(X_test, y_test)))

[[49 56]
 [36 49]]
              precision    recall  f1-score   support

           0       0.58      0.47      0.52       105
           1       0.47      0.58      0.52        85

    accuracy                           0.52       190
   macro avg       0.52      0.52      0.52       190
weighted avg       0.53      0.52      0.52       190

Accuracy of SVM classifier on test set: 0.5158

In [ ]:
#Decision Tree Classifier
dtree=DecisionTreeClassifier()
dtree.fit(X_train,y_train)
dtree.score(X_test,y_test)
y_pred = dtree.predict(X_test)
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))
print('Accuracy of decision tree classifier on test set: {:.4f}'.format(dtree.score(X_test, y_test)))

[[46 59]
 [45 40]]
              precision    recall  f1-score   support

           0       0.51      0.44      0.47       105
           1       0.40      0.47      0.43        85

    accuracy                           0.45       190
   macro avg       0.45      0.45      0.45       190
weighted avg       0.46      0.45      0.45       190

Accuracy of decision tree classifier on test set: 0.4526

In [ ]:
#Random Forest Classifier
randomForest= RandomForestClassifier(n_estimators=100)
randomForest.fit(X_train,y_train)
randomForest.score(X_test,y_test)
y_pred = randomForest.predict(X_test)
print("Confusion matrix\n",confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))
print('Accuracy of random forest classifier on test set: {:.4f}'.format(randomForest.score(X_test, y_test)))

Confusion matrix
 [[49 56]
 [43 42]]
              precision    recall  f1-score   support

           0       0.53      0.47      0.50       105
           1       0.43      0.49      0.46        85

    accuracy                           0.48       190
   macro avg       0.48      0.48      0.48       190
weighted avg       0.49      0.48      0.48       190

Accuracy of random forest classifier on test set: 0.4789